<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TacoPaco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99B4D2291E36C7EC00E3DA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B4D23D1E36C7ED00E3DA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B4D2481E36C7ED00E3DA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
